# Crawling and Scraping Libraries
scrapy
beautifulsoup4
requests
selenium
PyYAML
pytest
crawl4ai
scrapy-rotating-proxies
scrapegraphai
scrapegraph-py

#scarpped data cleaining
google-generativeai

# Data Processing Libraries
pyiceberg[s3fs,hive]
pyarrow
pyiceberg[sql-sqlite,pyarrow]


#RAG 
weaviate-client
neo4j
#Retrieval 
llama-index-vector-stores-weaviate
llama-index
llama-index-program-openai==0.3.0
llama-index-multi-modal-llms-openai==0.4.2

#LangChain Libraries
langchain 
langgraph 
tavily-python
huggingface-hub 
transformers
langchain-huggingface
llama-index-callbacks-langfuse

#langchain tools
google-search-results

blobfile
fastapi
uvicorn
flask